@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slideRight {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

.chapter {
  scroll-snap-align: start;
}

.dot{
  animation: blink 0.5s infinite;
}

@keyframes blink{
  0% { opacity: 1; }
  100% { opacity: 0;  }
}



html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

